{{!
    Renders a json-schema without the surrounding panel.
    @param {boolean} showType whether or not to show the plain datatype for primitives
}}
{{#if schema.description}}
  <section class="oa-section col-md-6">
    {{md schema.description}}
  </section>
{{/if}}

{{#if schema.type}}
  {{! Render differently depending on type}}
  {{#ifeq schema.type 'object'}}
    {{>json-schema/type-object schema}}
  {{else}}
    {{#ifeq schema.type 'array'}}
      {{#if schema.items}}
        {{>json-schema/array-items schema.items}}
      {{/if}}
    {{/ifeq}}
  {{/ifeq}}
{{else}}
  {{>json-schema/type-object schema}}
{{/if}}
{{#if schema.allOf}}
  {{>json-schema/allOf schema.allOf}}
{{/if}}
{{#if schema.anyOf}}
  {{>json-schema/anyOf schema.anyOf}}
{{/if}}

{{#if schema.example}}
  <aside class="oa-aside col-md-6">
    <label class="label label-default">Example</div>
    {{json schema.example}}
  </aside>
{{/if}}
