{{!--
    This partial renders the <body> of the HTML page.
    @api public
--}}

{{> base/sidebar}}

<content>
  <h1 id="{{htmlId info.title}}">{{info.title}}</h1>
  <p class="sw-info">Version <span class="sw-info-version">{{info.version}}</span></p>
  <p>{{md info.description}}</p>

  {{#if topics }}
    {{#each topics}}
      {{>reference/topic}}
    {{/each}}
  {{/if}}

  {{#each areas}}
    {{>reference/area}}
  {{/each}}
</content>
