{{!--
    Display a single parameter in a table row.
    @param {Parameter} parameter a parameter object
    @param {string=} key a reference key (if present, this is display in an additional
        column in front of the other columns
    @param {string=} $ref the reference path of the parameter, in case it is a reference to a default parameter
    @api public
--}}

<li class="oa-parameter">
  <label class="oa-parameter-name">
    {{parameter.name}}
    <span class="json-property-type">({{parameter.in}})</span>
  </label>
  <label class="oa-parameter-type">
    {{>json-schema/datatype parameter}}
    {{#if parameter.required}}
        <span class="json-property-required"></span>
    {{/if}}
    {{#if $ref}}
        <span class="swagger--global"></span> <span class="json-schema--reference"><a href="{{$ref}}">{{$ref}}</a></span>
    {{/if}}
  </label>
  <div class="oa-parameter-description">{{md parameter.description}}</div>
</li>
