{{!--
    Renders the response definitions
--}}
{{#if responses}}

  {{#each responses}}
    <section class="oa-component">
      <h3><a name="{{key}}"></a>{{@key}} response</h3>
      {{> swagger/response response=.}}
    </section>
  {{/each}}
{{/if}}
