body {
  background: #fafcfc;
  font-family: "Source Sans Pro", Helvetica, HelveticaNeue, Arial, sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #0099e5;
  text-decoration: none;
}

nav.oa-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  padding: 20px;
}

.oa-logo {
  a {
    color: #4c555a;

    &:hover {
      text-decoration: none;
    }
  }
}

.oa-sidebar-heading {
  margin: 0;
  padding-bottom: 4px;

  &:first-child {
    padding-top: 20px;
  }
}

.oa-sidebar-nav-items {
  margin: 0;
  padding: 0 0 20px;
  line-height: 20px;
  list-style: none;
}

.oa-sidebar-nav-item {
  display: block;
  margin: 0;
  padding: 6px 0;
  color: #4c555a;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

content {
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  padding: 16px 30px;
  .gradient;
}

.oa-aside {
  float: right !important;
}

.gradient (@startColor: white, @endColor: #2d3134) {
	background-color: @startColor;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(50%, @startColor), color-stop(50%, @endColor), color-stop(100%, @endColor));
	background: -webkit-linear-gradient(left, @startColor 0%, @startColor 50%, @endColor 50%, @endColor 100%);
	background: -moz-linear-gradient(top, @startColor 0%, @startColor 50%, @endColor 50%, @endColor 100%);
	background: -ms-linear-gradient(top, @startColor 0%, @startColor 50%, @endColor 50%, @endColor 100%);
	background: -o-linear-gradient(top, @startColor 0%, @startColor 50%, @endColor 50%, @endColor 100%);
}

pre {
  color: #d0d0d0 !important;
  background: #272b2d !important;
  border: none
}

pre, code {
  font-family: "Source Code Pro", Menlo, monospace;
}

h1, h2, h3, h4 {
  color: #4c555a;
}

h1 {
  margin: 0 0 26px;
  font-size: 26px;
}

h2 {
  margin: 0 0 20px;
  font-size: 20px;
}

h4, h5 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}

h5 {
  color: #939da3;
}

.oa-parameter {
  padding: 10px 0;
  overflow: hidden;
  list-style: none;

  &:nth-of-type(2n) {
    background: #fafcfc;
  }
}

.oa-parameter-name,
.oa-parameter-type {
  position: relative;
  float: left;
  clear: left;
  width: 180px;
  text-align: right;
}

.oa-parameter-description {
  position: relative;
  margin: 0 0 0 200px;
}

.oa-section {
  clear: both;

  &.col-md-6 {
    padding-left: 0;
  }
}

.oa-json-inner-schema {
  clear: both;
  padding-left: 20px;

  .oa-parameter:nth-of-type(2n) {
    background: transparent;
  }
}

.oa-topic,
.oa-area,
.oa-component {
  clear: both;
  overflow: hidden;
}

.oa-topic,
.oa-area {
  padding: 20px 0;
}

.operation-path {
  float: left;
  clear: left;
  margin: 0 0 10px;
  padding: 6px 10px;
}

.sw-responses {
  clear: both;
}
